Repository json-everything/json-everything, pull requests merged in 2021-11, with the labels that each got.

#175 Make initialization of the static classes thread-safe
  JsonSchema/JsonSchema.cs
  JsonSchema/SchemaRegistry.cs
  JsonSchema/ValidationOptions.cs
Labels: pkg:schema

#176 Schema v1.11.4
  Json.More.Tests/Json.More.Tests.csproj
  JsonLogic.Tests/JsonLogic.Tests.csproj
  JsonPatch.Tests/JsonPatch.Tests.csproj
  JsonPath.Tests/JsonPath.Tests.csproj
  JsonPointer.Benchmark/JsonPointer.Benchmark.csproj
  JsonPointer.Tests/JsonPointer.Tests.csproj
  JsonSchema.Data.Tests/JsonSchema.Data.Tests.csproj
  JsonSchema.Generation.Tests/JsonSchema.Generation.Tests.csproj
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Tests/JsonSchema.Tests.csproj
  JsonSchema.Tests/MetaTests.cs
  JsonSchema.UniqueKeys.Tests/JsonSchema.UniqueKeys.Tests.csproj
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/SchemaRegistry.cs
  JsonSchema/ValidationOptions.cs
  docs_source/release-notes/json-schema-generation.md
  docs_source/release-notes/json-schema.md
Labels: documentation, pkg:schema, pkg:schema-generation

#177 support relative uris in data keyword deserialization
  JsonSchema.Data/DataKeyword.cs
  JsonSchema.Data/JsonSchema.Data.csproj
Labels: pkg:schema-data

#179 updated jsonpointer from struct to class
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch.Tests/SingleOpProcessingTests.cs
  JsonPatch.Tests/Suite/JsonPatchTest.cs
  JsonPatch.Tests/Suite/JsonPatchTestSuite.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/PatchOperation.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  JsonPointer/JsonPointerJsonConverter.cs
  JsonPointer/PointerSegment.cs
  JsonPointer/RelativeJsonPointer.cs
  JsonPointer/RelativeJsonPointerJsonConverter.cs
  JsonSchema/DynamicRefKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/ValidationResults.cs
  docs_source/release-notes/json-patch.md
  docs_source/release-notes/json-pointer.md
  docs_source/release-notes/json-schema.md
  docs_source/release-notes/toc.yml
  json-everything.sln.DotSettings
Labels: documentation, pkg:schema, pkg:patch, pkg:pointer

#182 update other packages after pointer update
  JsonLogic/JsonLogic.csproj
  JsonPath/JsonPath.csproj
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.UniqueKeys/JsonSchema.UniqueKeys.csproj
  docs_source/release-notes/json-logic.md
  docs_source/release-notes/json-path.md
  docs_source/release-notes/json-schema-data.md
  docs_source/release-notes/json-schema-generation.md
  docs_source/release-notes/json-schema-unique-keys.md
Labels: documentation, pkg:path, pkg:schema-generation, pkg:schema-data, pkg:logic, pkg:schema-unique-keys

#185 Issue184 array support for pointers
  JsonPointer.Tests/ExpressionCreationTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  docs_source/release-notes/json-pointer.md
Labels: documentation, pkg:pointer
