Repository json-everything/json-everything, pull requests merged in 2021-05, with the labels that each got.

#110 Fix #109
  JsonSchema.Generation.Tests/AttributeHandlerTests.cs
  JsonSchema.Generation/AttributeHandler.cs
Labels: pkg:schema-generation

#113 SchemaGen v1.4.0
  JsonSchema.Generation.Tests/AttributeHandlerTests.cs
  JsonSchema.Generation.Tests/PropertyOrderTests.cs
  JsonSchema.Generation/AttributeHandler.cs
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/JsonSchema.Net.Generation.xml
  JsonSchema.Generation/PropertyOrder.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
  docs_source/release-notes/json-schema-generation.md
  docs_source/usage/schema-generation.md
Labels: documentation, pkg:schema-generation

#115 Issue 114 datetime schemagen
  JsonSchema.Generation.Tests/AssertionExtensions.cs
  JsonSchema.Generation.Tests/GeneratorTests.cs
  JsonSchema.Generation.Tests/SchemaGenerationTests.cs
  JsonSchema.Generation/GeneratorRegistry.cs
  JsonSchema.Generation/Generators/EnumDictionarySchemaGenerator.cs
  JsonSchema.Generation/Intents/PropertyNamesIntent.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/JsonSchema.Net.Generation.xml
  docs_source/release-notes/json-schema-generation.md
Labels: documentation, pkg:schema-generation

#119 Fixed two typos in the JSON Schema usage documentation overview
  docs_source/usage/schema-overview.md
Labels: documentation
