Repository json-everything/json-everything, pull requests merged in 2022-06, with the labels that each got.

#273 Issue 272 optimization broken for unrelated attributes
  JsonSchema.Generation.Tests/AdditionalItemsTests.cs
  JsonSchema.Generation.Tests/ArrayGenerationTests.cs
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Generation/AttributeHandler.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/JsonSchemaBuilderExtensions.cs
  JsonSchema.Generation/MemberGenerationContext.cs
  JsonSchema.Generation/SchemaGenerationContextCache.cs
  JsonSchema.Generation/SchemaGenerationContextOptimizer.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
  json-everything.net/wwwroot/md/release-notes/json-schema-generation.md
Labels: documentation, pkg:schema-generation, try-me-site

#275 Issue275 jsonobject causes argumentexception
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Generation/GeneratorRegistry.cs
  JsonSchema.Generation/Generators/JsonArraySchemaGenerator.cs
  JsonSchema.Generation/Generators/JsonObjectSchemaGenerator.cs
  JsonSchema.Generation/Generators/JsonValueSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/SchemaGenerationContextBase.cs
  JsonSchema.Generation/SchemaGenerationContextOptimizer.cs
  json-everything.net/wwwroot/md/release-notes/json-schema-generation.md
  json-everything.net/wwwroot/md/schema-generation.md
Labels: documentation, pkg:schema-generation, try-me-site

#278 Schemagen attributes mixup
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Tests/Suite/Suite.cs
  json-everything.net/wwwroot/md/schema-generation.md
  json-everything.net/wwwroot/md/schema-vocabs.md
Labels: documentation

#282 Embed api docs
  Json.More/Json.More.csproj
  JsonLogic/JsonLogic.csproj
  JsonPatch/JsonPatch.csproj
  JsonPath/JsonPath.csproj
  JsonPointer/JsonPointer.csproj
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.UniqueKeys/JsonSchema.UniqueKeys.csproj
  JsonSchema/ErrorMessages.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  json-everything.net/Pages/Logic.razor
  json-everything.net/Pages/More.razor
  json-everything.net/Pages/Patch.razor
  json-everything.net/Pages/Path.razor
  json-everything.net/Pages/Pointer.razor
  json-everything.net/Pages/Schema.razor
  json-everything.net/Program.cs
  json-everything.net/Services/AnchorRegistry.cs
  json-everything.net/Services/ApiDocGenerationService.cs
  json-everything.net/Services/MarkdownGen/CommonComments.cs
  json-everything.net/Services/MarkdownGen/DocXmlReader.cs
  json-everything.net/Services/MarkdownGen/DocumentationGenerator.cs
  json-everything.net/Services/MarkdownGen/EnumComments.cs
  json-everything.net/Services/MarkdownGen/EnumValueComment.cs
  json-everything.net/Services/MarkdownGen/InheritdocTag.cs
  json-everything.net/Services/MarkdownGen/MarkdownWriters/BitbucketMarkdownWriter.cs
  json-everything.net/Services/MarkdownGen/MarkdownWriters/GithubMarkdownWriter.cs
  json-everything.net/Services/MarkdownGen/MarkdownWriters/Interfaces/IMarkdownWriter.cs
  json-everything.net/Services/MarkdownGen/MethodComments.cs
  json-everything.net/Services/MarkdownGen/OrderedTypeList.cs
  json-everything.net/Services/MarkdownGen/Reflection/DocXmlReaderExtensions.cs
  json-everything.net/Services/MarkdownGen/Reflection/ReflectionExtensions.cs
  json-everything.net/Services/MarkdownGen/Reflection/ReflectionSettings.cs
  json-everything.net/Services/MarkdownGen/Reflection/TypeCollection.cs
  json-everything.net/Services/MarkdownGen/StringExtensions.cs
  json-everything.net/Services/MarkdownGen/TypeComments.cs
  json-everything.net/Services/MarkdownGen/XmlDocId.cs
  json-everything.net/Services/TypeExtensions.cs
  json-everything.net/Shared/ApiIndex.razor
  json-everything.net/Shared/ApiNamespace.razor
  json-everything.net/Shared/Docs.razor
  json-everything.net/Shared/NamespaceNode.cs
  json-everything.net/Shared/RegexPatterns.cs
  json-everything.net/json-everything.net.csproj
  json-everything.net/wwwroot/css/app.css
Labels: pkg:more, pkg:schema, pkg:patch, pkg:path, pkg:pointer, pkg:schema-generation, pkg:schema-data, pkg:logic, pkg:schema-unique-keys, try-me-site, pkg:schema-datagen

#285 add serializer options to schema creation methods
  JsonSchema.Tests/CreationTests.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema, try-me-site

#291 #283 Fix Bugs with PatchForArray
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/PatchExtensions.cs
Labels: pkg:patch

#292 Patch/better array patch generation
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/PatchExtensions.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
  json-everything.net/wwwroot/md/release-notes/json-patch.md
  json-everything.net/wwwroot/md/release-notes/json-pointer.md
  json-everything.net/wwwroot/md/release-notes/json-schema-data.md
  json-everything.net/wwwroot/md/release-notes/json-schema-datageneration.md
  json-everything.net/wwwroot/md/release-notes/json-schema-generation.md
  json-everything.net/wwwroot/md/release-notes/json-schema-unique-keys.md
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:patch, try-me-site
