Repository json-everything/json-everything, pull requests merged in 2022-07, with the labels that each got.

#297 Schema/type string or null fails
  JsonSchema.Tests/SlackTests.cs
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema, try-me-site

#299 :facepalm: fixing issues with meta-schemas
  JsonSchema.Tests/DevTest.cs
  JsonSchema.Tests/SelfValidationTest.cs
  JsonSchema/ContentEncodingKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/MetaSchemas.Draft201909.cs
  JsonSchema/MetaSchemas.Draft202012.cs
  JsonSchema/MetaSchemas.Draft6.cs
  JsonSchema/MetaSchemas.Draft7.cs
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema, try-me-site

#300 Open api 3.1
  JsonSchema.OpenApi.Tests/JsonSchema.OpenApi.Tests.csproj
  JsonSchema.OpenApi.Tests/Tests.cs
  JsonSchema.OpenApi/DiscriminatorKeyword.cs
  JsonSchema.OpenApi/ExampleKeyword.cs
  JsonSchema.OpenApi/ExternalDocsKeyword.cs
  JsonSchema.OpenApi/Formats.cs
  JsonSchema.OpenApi/JsonSchema.OpenApi.csproj
  JsonSchema.OpenApi/JsonSchemaBuilderExtensions.cs
  JsonSchema.OpenApi/MetaSchemas.cs
  JsonSchema.OpenApi/Vocabularies.cs
  JsonSchema.OpenApi/XmlKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSchemaBuilderExtensions.cs
  Meta-Schemas/OpenAPI/3.1/openapi-dialect-base.json
  Meta-Schemas/OpenAPI/3.1/openapi-meta-base.json
  Meta-Schemas/OpenAPI/3.1/schema.json
  Resources/openapi.png
  json-everything.net/Pages/Schema.razor
  json-everything.net/json-everything.net.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema.md
  json-everything.net/wwwroot/md/vocabs-openapi.md
  json-everything.sln
Labels: documentation, pkg:schema, try-me-site

#296 Check Condition on System.Text.Json.JsonIgnoreAttribute
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
Labels: pkg:schema-generation

#301 Schemagen v3.0.2
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  json-everything.net/Pages/Schema.razor
  json-everything.net/wwwroot/md/release-notes/json-schema-generation.md
Labels: documentation, pkg:schema-generation, try-me-site

#303 make rules public (ctors still internal)
  Json.More/Json.More.csproj
  JsonLogic.Tests/AddTests.cs
  JsonLogic.Tests/GithubTests.cs
  JsonLogic.Tests/LessThanEqualTests.cs
  JsonLogic.Tests/LessThanTests.cs
  JsonLogic.Tests/MoreThanEqualTests.cs
  JsonLogic.Tests/MoreThanTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/JsonNodeExtensions.cs
  JsonLogic/Rule.cs
  JsonLogic/Rules/AddRule.cs
  JsonLogic/Rules/AllRule.cs
  JsonLogic/Rules/AndRule.cs
  JsonLogic/Rules/BooleanCastRule.cs
  JsonLogic/Rules/CatRule.cs
  JsonLogic/Rules/DivideRule.cs
  JsonLogic/Rules/FilterRule.cs
  JsonLogic/Rules/IfRule.cs
  JsonLogic/Rules/InRule.cs
  JsonLogic/Rules/LessThanEqualRule.cs
  JsonLogic/Rules/LessThanRule.cs
  JsonLogic/Rules/LiteralRule.cs
  JsonLogic/Rules/LogRule.cs
  JsonLogic/Rules/LooseEqualsRule.cs
  JsonLogic/Rules/LooseNotEqualsRule.cs
  JsonLogic/Rules/MapRule.cs
  JsonLogic/Rules/MaxRule.cs
  JsonLogic/Rules/MergeRule.cs
  JsonLogic/Rules/MinRule.cs
  JsonLogic/Rules/MissingRule.cs
  JsonLogic/Rules/MissingSomeRule.cs
  JsonLogic/Rules/ModRule.cs
  JsonLogic/Rules/MoreThanEqualRule.cs
  JsonLogic/Rules/MoreThanRule.cs
  JsonLogic/Rules/MultiplyRule.cs
  JsonLogic/Rules/NoneRule.cs
  JsonLogic/Rules/NotRule.cs
  JsonLogic/Rules/OrRule.cs
  JsonLogic/Rules/ReduceRule.cs
  JsonLogic/Rules/RuleCollection.cs
  JsonLogic/Rules/SomeRule.cs
  JsonLogic/Rules/StrictEqualsRule.cs
  JsonLogic/Rules/StrictNotEqualsRule.cs
  JsonLogic/Rules/SubstrRule.cs
  JsonLogic/Rules/SubtractRule.cs
  JsonLogic/Rules/VariableRule.cs
  JsonPatch.Tests/PatchExtensionTests.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:more, pkg:logic, try-me-site
