Repository json-everything/json-everything, pull requests merged in 2022-08, with the labels that each got.

#314 Issue313 deserializing null rules
  JsonLogic.Tests/GithubTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rule.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic, try-me-site

#315 Add missing options argument to serializer during apply
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/PatchExtensions.cs
Labels: pkg:patch

#317 Patch 2.0.3
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/PatchExtensions.cs
  json-everything.net/wwwroot/md/release-notes/json-patch.md
Labels: documentation, pkg:patch, try-me-site

#319 Fix 318: Numberify can parse floating point numbers in any culture
  JsonLogic.Tests/GithubTests.cs
  JsonLogic/JsonNodeExtensions.cs
Labels: pkg:logic

#320 Logic v3.1.2
  JsonLogic.Tests/GithubTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/JsonNodeExtensions.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic, try-me-site

#323 Patch 2.0.4
  JsonPatch.Tests/SingleOpProcessingTests.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/MoveOperationHandler.cs
  json-everything.net/wwwroot/md/release-notes/json-patch.md
Labels: documentation, pkg:patch, try-me-site

#316 Vocab data v2
  JsonSchema.Data.Tests/Tests.cs
  JsonSchema.Data/DataKeyword.cs
  JsonSchema.Data/IDataResourceIdentifier.cs
  JsonSchema.Data/JsonPointerIdentifier.cs
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Data/JsonSchemaBuilderExtensions.cs
  JsonSchema.Data/MetaSchemas.cs
  JsonSchema.Data/RefResolutionException.cs
  JsonSchema.Data/RelativeJsonPointerIdentifier.cs
  JsonSchema.Data/UriIdentifier.cs
  JsonSchema.Data/Vocabularies.cs
  json-everything.net/Pages/Schema.razor
  json-everything.net/Services/AnchorRegistry.cs
  json-everything.net/wwwroot/md/release-notes/json-schema-data.md
  json-everything.net/wwwroot/md/vocabs-data-2022.md
  json-everything.net/wwwroot/meta/data-2022
Labels: documentation, pkg:schema-data, try-me-site
