Repository json-everything/json-everything, pull requests merged in 2023-11, with the labels that each got.

#553 string does not have items
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/TypeExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation

#554 Stack overflow when serializing multiple times
  JsonSchema.Tests/Serialization/DeserializationTests.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#561 Turkish localization added.
  JsonSchema/Localization/Resources.tr-TR.resx
Labels: pkg:schema

#563 Better number equality
  Json.More.Tests/DevTest.cs
  Json.More.Tests/EqualityTests.cs
  Json.More/Json.More.csproj
  Json.More/JsonNodeExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#564 update json converters to support source gen
  JsonPointer/JsonPointer.csproj
  JsonPointer/JsonPointerJsonConverter.cs
  JsonPointer/RelativeJsonPointerJsonConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:pointer
