Repository json-everything/json-everything, pull requests merged in 2023-03, with the labels that each got.

#392 add examples for schema data usage; actually use external data registry
  JsonSchema.Data/DataKeyword.cs
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Data/UriIdentifier.cs
  json-everything.net/Pages/Schema.razor
  json-everything.net/wwwroot/md/examples/schemadata/data-ref.md
  json-everything.net/wwwroot/md/examples/schemadata/external-ref.md
  json-everything.net/wwwroot/md/examples/schemadata/schema-ref.md
  json-everything.net/wwwroot/md/release-notes/json-schema-data.md
Labels: documentation, pkg:schema-data, json-everything.net

#395 Logic/alignment
  JsonLogic.Tests/AddTests.cs
  JsonLogic.Tests/DivideTests.cs
  JsonLogic.Tests/Files/more-tests.json
  JsonLogic.Tests/LessThanEqualTests.cs
  JsonLogic.Tests/LessThanTests.cs
  JsonLogic.Tests/ModTests.cs
  JsonLogic.Tests/MoreThanEqualTests.cs
  JsonLogic.Tests/MoreThanTests.cs
  JsonLogic.Tests/MultiplyTests.cs
  JsonLogic.Tests/SubtractTests.cs
  JsonLogic.Tests/Suite/MoreTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rule.cs
  JsonLogic/Rules/AddRule.cs
  JsonLogic/Rules/AllRule.cs
  JsonLogic/Rules/DivideRule.cs
  JsonLogic/Rules/LessThanEqualRule.cs
  JsonLogic/Rules/LessThanRule.cs
  JsonLogic/Rules/LogRule.cs
  JsonLogic/Rules/MaxRule.cs
  JsonLogic/Rules/MinRule.cs
  JsonLogic/Rules/MissingSomeRule.cs
  JsonLogic/Rules/ModRule.cs
  JsonLogic/Rules/MoreThanEqualRule.cs
  JsonLogic/Rules/MoreThanRule.cs
  JsonLogic/Rules/MultiplyRule.cs
  JsonLogic/Rules/NoneRule.cs
  JsonLogic/Rules/ReduceRule.cs
  JsonLogic/Rules/SomeRule.cs
  JsonLogic/Rules/SubstrRule.cs
  JsonLogic/Rules/SubtractRule.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic

#399 use trx test logger
  .github/workflows/dotnet-core.yml
  Json.More.Tests/Json.More.Tests.csproj
  JsonLogic.Tests/JsonLogic.Tests.csproj
  JsonPatch.Tests/GithubTests.cs
  JsonPatch.Tests/JsonPatch.Tests.csproj
  JsonPath.Tests/JsonPath.Tests.csproj
  JsonPointer.Tests/JsonPointer.Tests.csproj
  JsonSchema.Data.Tests/JsonSchema.Data.Tests.csproj
  JsonSchema.DataGeneration.Tests/JsonSchema.DataGeneration.Tests.csproj
  JsonSchema.Generation.Tests/JsonSchema.Generation.Tests.csproj
  JsonSchema.OpenApi.Tests/JsonSchema.OpenApi.Tests.csproj
  JsonSchema.Tests/JsonSchema.Tests.csproj
  JsonSchema.UniqueKeys.Tests/JsonSchema.UniqueKeys.Tests.csproj
  Yaml2JsonNode.Tests/Yaml2JsonNode.Tests.csproj
Labels: build pipeline

#400 replicate issue
  JsonPatch.Tests/GithubTests.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/ReplaceOperationHandler.cs
  json-everything.net/wwwroot/md/release-notes/json-patch.md
Labels: documentation, pkg:patch

#409 `missing` checks truthiness not presence
  JsonLogic.Tests/Files/more-tests.json
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rules/MissingRule.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic

#407 JSON Path - `value()` func
  JsonPath.Tests/ParsingTests.cs
  JsonPath.Tests/Suite/CburgmerFeatureValidationTests.cs
  JsonPath.Tests/Suite/ComplianceTestCase.cs
  JsonPath.Tests/Suite/ComplianceTestSuiteTests.cs
  JsonPath/CountFunction.cs
  JsonPath/Expressions/AddOperator.cs
  JsonPath/Expressions/BinaryComparativeExpressionNode.cs
  JsonPath/Expressions/BinaryValueExpressionNode.cs
  JsonPath/Expressions/BooleanFunctionExpressionNode.cs
  JsonPath/Expressions/BooleanResultExpressionNode.cs
  JsonPath/Expressions/DivideOperator.cs
  JsonPath/Expressions/EqualToOperator.cs
  JsonPath/Expressions/ExistsOperator.cs
  JsonPath/Expressions/ExpressionNode.cs
  JsonPath/Expressions/FunctionBooleanExpressionNode.cs
  JsonPath/Expressions/FunctionExpressionParser.cs
  JsonPath/Expressions/FunctionValueExpressionNode.cs
  JsonPath/Expressions/GreaterThanOperator.cs
  JsonPath/Expressions/GreaterThanOrEqualToOperator.cs
  JsonPath/Expressions/IBinaryComparativeOperator.cs
  JsonPath/Expressions/IBinaryValueOperator.cs
  JsonPath/Expressions/IUnaryComparativeOperator.cs
  JsonPath/Expressions/LessThanOperator.cs
  JsonPath/Expressions/LessThanOrEqualToOperator.cs
  JsonPath/Expressions/LiteralExpressionNode.cs
  JsonPath/Expressions/LogicalExpressionNode.cs
  JsonPath/Expressions/MultiplyOperator.cs
  JsonPath/Expressions/NotEqualToOperator.cs
  JsonPath/Expressions/PathExpressionNode.cs
  JsonPath/Expressions/PathValue.cs
  JsonPath/Expressions/SubtractOperator.cs
  JsonPath/Expressions/ValueExpressionNode.cs
  JsonPath/FunctionRepository.cs
  JsonPath/FunctionType.cs
  JsonPath/GeneralExtensions.cs
  JsonPath/IPathFunctionDefinition.cs
  JsonPath/JsonNodeExtensions.cs
  JsonPath/JsonPath.csproj
  JsonPath/LengthFunction.cs
  JsonPath/MatchFunction.cs
  JsonPath/Node.cs
  JsonPath/NodeList.cs
  JsonPath/ParameterType.cs
  JsonPath/PathEvaluationOptions.cs
  JsonPath/PathParsingOptions.cs
  JsonPath/SearchFunction.cs
  JsonPath/ValueFunction.cs
  json-everything.net/wwwroot/md/examples/schemadata/schema-ref.md
  json-everything.net/wwwroot/md/json-path.md
  json-everything.net/wwwroot/md/release-notes/json-path.md
  json-everything.sln.DotSettings
Labels: documentation, pkg:path

#412 Path/parse options
  JsonPath.Tests/Suite/CburgmerFeatureValidationTests.cs
  JsonPath.Tests/Suite/ComplianceTestSuiteTests.cs
  JsonPath/Expressions/BinaryComparativeExpressionNode.cs
  JsonPath/Expressions/InOperator.cs
  JsonPath/Expressions/LiteralExpressionNode.cs
  JsonPath/Expressions/Operators.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/PathParser.cs
  JsonPath/PathParsingOptions.cs
  json-everything.net/wwwroot/md/release-notes/json-path.md
Labels: documentation, pkg:path

#413 date-time validation check using regex
  JsonSchema.Tests/FormatTests.cs
  JsonSchema/Formats.cs
Labels: pkg:schema

#418 lots of minor updates
  .github/workflows/dotnet-core.yml
  Json.More.Tests/GetPathFromRootTests.cs
  Json.More.Tests/GetPointerFromRootTests.cs
  Json.More/EnumStringConverter.cs
  Json.More/Json.More.csproj
  Json.More/JsonNodeExtensions.cs
  JsonSchema.Tests/FormatTests.cs
  JsonSchema.Tests/GithubTests.cs
  JsonSchema.Tests/VocabularyTests.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/Formats.cs
  JsonSchema/IIdKeyword.cs
  JsonSchema/IdKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSchemaExtensions.KeywordAccess.cs
  JsonSchema/JsonSchemaExtensions.cs
  json-everything.net/wwwroot/md/release-notes/json-more.md
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:more, pkg:schema, build pipeline

#421 Small typo issue in LessThanEqualRule
  JsonLogic/Rules/LessThanEqualRule.cs
Labels: pkg:logic

#423 registration with inferred uri should still initialize the schema
  JsonSchema.Tests/Files/Issue419_config.json
  JsonSchema.Tests/Files/Issue419_level1.json
  JsonSchema.Tests/Files/Issue419_level2.json
  JsonSchema.Tests/Files/Issue419_root.json
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/SchemaRegistry.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema

#425 jsonpointer - index out of range for array
  JsonPointer.Tests/GithubTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  json-everything.net/wwwroot/md/release-notes/json-pointer.md
Labels: documentation, pkg:pointer
