Repository json-everything/json-everything, pull requests merged in 2023-10, with the labels that each got.

#534 Schema/cross draft
  JsonSchema.Tests/CrossDraftTests.cs
  JsonSchema.Tests/SlackTests.cs
  JsonSchema/EvaluationContext.cs
  JsonSchema/EvaluationOptions.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#535 support $schema/$id in base; expose validation results in exception
  JsonSchema.CodeGeneration/JsonSchema.CodeGeneration.csproj
  JsonSchema.CodeGeneration/Model/ModelGenerator.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-codegeneration.md
Labels: pkg:schema-codegen

#528 added ability to use a custom name resolving logic PropertyNameResolvingMethods so users can provide their custom …
  JsonSchema.Generation.Tests/PropertyNameResolverTests.cs
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/PropertyNameResolvers.cs
  JsonSchema.Generation/PropertyNamingMethods.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
Labels: pkg:schema-generation

#529 Publish branch for #528
  JsonSchema.Generation.Tests/PropertyNameResolverTests.cs
  JsonSchema.Generation.Tests/PropertyNamingMethodTests.cs
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/PropertyNameResolvers.cs
  JsonSchema.Generation/PropertyNamingMethods.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation

#540 Schema/refs into nonapplicators
  JsonSchema.Generation.Tests/ConditionalTests.cs
  JsonSchema.Generation.Tests/PropertyNamingMethodTests.cs
  JsonSchema.Generation.Tests/PropertyNamingTests.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
  JsonSchema.OpenApi/JsonSchema.OpenApi.csproj
  JsonSchema.OpenApi/Vocabularies.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/ExamplesKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/OneOfKeyword.cs
  JsonSchema/SchemaKeywordRegistry.cs
  json-everything.net/Services/HelpContent.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-openapi.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, pkg:schema-generation, json-everything.net, pkg:schema-openapi

#545 Extended JSON Pointer support
  JsonPatch.Tests/GithubTests.cs
  JsonPointer.Tests/ExpressionCreationTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  JsonPointer/PointerCreationOptions.cs
  JsonPointer/PropertyNameResolvers.cs
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:pointer

#546 Some built-in attributes should be considered "handled"
  JsonPatch.Tests/GithubTests.cs
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Generation/AttributeHandler.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation

#547 Schema/unknown keywords annotation
  JsonSchema.Tests/UnrecognizedKeywordTests.cs
  JsonSchema/EvaluationOptions.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/SchemaConstraint.cs
  json-everything.net/Pages/Schema.razor
  json-everything.net/Services/HelpContent.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, json-everything.net
