Repository json-everything/json-everything, pull requests merged in 2023-09, with the labels that each got.

#511 fix: make sure the sub schema cache is thread-safe for JsonNodeBaseDocument
  JsonSchema/JsonNodeBaseDocument.cs
Labels: pkg:schema

#514 Schema/jsonnodebasedoc concurrency
  JsonSchema/JsonNodeBaseDocument.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#515 support special case for path to pointer
  JsonPath.Tests/JsonPointerConversionTests.cs
  JsonPath/JsonPath.csproj
  JsonPath/JsonPathExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#519 JsonSchema: include line numbers and byte positions in JsonException
  Json.More/EnumStringConverter.cs
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/ConstKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/DefaultKeyword.cs
  JsonSchema/DefinitionsKeyword.cs
  JsonSchema/DefsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/ElseKeyword.cs
  JsonSchema/EnumKeyword.cs
  JsonSchema/ExamplesKeyword.cs
  JsonSchema/IfKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSerializerOptionsExtensions.cs
  JsonSchema/NotKeyword.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/PropertiesKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/PropertyDependency.cs
  JsonSchema/PropertyNamesKeyword.cs
  JsonSchema/RequiredKeyword.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  JsonSchema/ThenKeyword.cs
  JsonSchema/TypeKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  JsonSchema/VocabularyKeyword.cs
Labels: pkg:more, pkg:schema

#518 JsonSchemaBuilder with multiple unknown keywords
  Json.More.Tests/EnumStringConverterTests.cs
  Json.More/EnumStringConverter.cs
  Json.More/Json.More.csproj
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/ConstKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/DefaultKeyword.cs
  JsonSchema/DefinitionsKeyword.cs
  JsonSchema/DefsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/ElseKeyword.cs
  JsonSchema/EnumKeyword.cs
  JsonSchema/ExamplesKeyword.cs
  JsonSchema/IfKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSchemaBuilder.cs
  JsonSchema/JsonSerializerOptionsExtensions.cs
  JsonSchema/NotKeyword.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/PropertiesKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/PropertyDependency.cs
  JsonSchema/PropertyNamesKeyword.cs
  JsonSchema/RequiredKeyword.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  JsonSchema/ThenKeyword.cs
  JsonSchema/TypeKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  JsonSchema/VocabularyKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:more, pkg:schema

#521 unrecognized keywords not generating annotations
  JsonSchema.Data/DataKeyword.cs
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Tests/UnrecognizedKeywordTests.cs
  JsonSchema/EvaluationOptions.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/UnrecognizedKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-data.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, pkg:schema-data

#522 fix parallel constraint generation
  CrossProjectTesting/CrossProjectTesting.csproj
  CrossProjectTesting/ResultsExtensions.cs
  CrossProjectTesting/UnitTest1.cs
  CrossProjectTesting/Usings.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/SchemaConstraint.cs
  JsonSchema/nuspec/JsonSchema.Net.nuspec
  json-everything.sln
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#524 support for + in number literals
  JsonPath/JsonPath.csproj
  JsonPath/SpanExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#526 Disparity between Parse and TryParse
  JsonPath.Tests/Suite/ComplianceTestSuiteTests.cs
  JsonPath/JsonPath.csproj
  JsonPath/PathParser.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#531 add support for sealed classes
  JsonSchema.CodeGeneration.Tests/SimpleDeclarationTests.cs
  JsonSchema.CodeGeneration/JsonSchema.CodeGeneration.csproj
  JsonSchema.CodeGeneration/Language/CSharpCodeWriter.cs
  JsonSchema.CodeGeneration/Model/ModelGenerator.cs
  JsonSchema.CodeGeneration/Model/ObjectModel.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-codegeneration.md
Labels: pkg:schema-codegen
