Repository json-everything/json-everything, pull requests merged in 2023-12, with the labels that each got.

#571 Make `time-offset` required for `date-time`
  JsonSchema.Tests/FormatTests.cs
  JsonSchema/Formats.cs
Labels: pkg:schema

#572 Schema/date time format correction
  JsonSchema.Tests/FormatTests.cs
  JsonSchema/Formats.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#573 support pointer creation using variables
  JsonPointer.Tests/ExpressionCreationTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:pointer

#575 Schema/bundle recursive
  JsonSchema.Tests/BundlingTests.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSchemaExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#576 Finish RJP support
  JsonPointer.Tests/RelativeJsonPointerTests.cs
  JsonPointer/JsonPointer.csproj
  JsonPointer/RelativeJsonPointer.cs
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:pointer

#581 Handle nullable value types better
  JsonSchema.Generation.Tests/NullabilityTests.cs
  JsonSchema.Generation.Tests/PropertyOrderTests.cs
  JsonSchema.Generation/GeneralExtensions.cs
  JsonSchema.Generation/Generators/NullableValueTypeSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/MemberInfoMetadataComparer.cs
  JsonSchema.Generation/Refiners/NullabilityRefiner.cs
  JsonSchema.Generation/TypeExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation

#582 add limited support for pattern data generation
  JsonSchema.DataGeneration.Tests/StringGenerationTests.cs
  JsonSchema.DataGeneration/Generators/StringGenerator.cs
  JsonSchema.DataGeneration/HelperExtensions.cs
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  JsonSchema.DataGeneration/Requirements/StringRequirementsGatherer.cs
  JsonSchema.DataGeneration/RequirementsContext.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-datageneration.md
Labels: pkg:schema-datagen

#586 Add type converters for JsonPointer and JsonPath
  JsonPath.Tests/TypeConverterTests.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPathTypeConverter.cs
  JsonPointer.Tests/TypeConverterTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointerTypeConverter.cs
Labels: pkg:path, pkg:pointer

#590 Pointer/type converter
  JsonPath.Tests/TypeConverterTests.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/JsonPathTypeConverter.cs
  JsonPointer.Tests/TypeConverterTests.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  JsonPointer/JsonPointerTypeConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:path, pkg:pointer

#591 add deferred execution tests
  JsonPath.Tests/DeferredExecutionTests.cs
  JsonPath/GeneralExtensions.cs
  JsonPath/JsonPath.csproj
  JsonPath/NodeList.cs
Labels: pkg:path

#577 Vocab array ext (& data update)
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  .github/workflows/publish-schema-array-ext.yml
  JsonSchema.ArrayExt.Tests/JsonSchema.ArrayExt.Tests.csproj
  JsonSchema.ArrayExt.Tests/OrderingSpecExampleTests.cs
  JsonSchema.ArrayExt.Tests/OrderingTests.cs
  JsonSchema.ArrayExt.Tests/TestEnvironment.cs
  JsonSchema.ArrayExt.Tests/UniqueKeysSpecExampleTests.cs
  JsonSchema.ArrayExt/Direction.cs
  JsonSchema.ArrayExt/JsonSchema.ArrayExt.csproj
  JsonSchema.ArrayExt/JsonSchemaBuilderExtensions.cs
  JsonSchema.ArrayExt/JsonSchemaExtensions.cs
  JsonSchema.ArrayExt/MetaSchemas.cs
  JsonSchema.ArrayExt/OrderingKeyword.cs
  JsonSchema.ArrayExt/OrderingSpecifier.cs
  JsonSchema.ArrayExt/UniqueKeysKeyword.cs
  JsonSchema.ArrayExt/Vocabularies.cs
  JsonSchema.Data.Tests/Suite/Suite.cs
  JsonSchema.Data.Tests/Tests.cs
  JsonSchema.Data/JsonPathIdentifier.cs
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Data/JsonSchemaBuilderExtensions.cs
  JsonSchema.Data/MetaSchemas.cs
  JsonSchema.Data/Vocabularies.cs
  JsonSchema.Tests/ResultsExtensions.cs
  JsonSchema.UniqueKeys/MetaSchemas.cs
  JsonSchema.UniqueKeys/Vocabularies.cs
  json-everything.net/Pages/Schema.razor
  json-everything.net/Services/Data2022Support.cs
  json-everything.net/Services/HelpContent.cs
  json-everything.net/json-everything.net.csproj
  json-everything.net/wwwroot/meta/array-ext
  json-everything.net/wwwroot/meta/data-2023
  json-everything.net/wwwroot/meta/vocab/array-ext
  json-everything.net/wwwroot/meta/vocab/data-2023
  json-everything.sln
  tools/ApiDocsGenerator/ApiDocsGenerator.csproj
  tools/ApiDocsGenerator/Program.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-array-ext.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-data.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-unique-keys.md
Labels: pkg:schema-data, build pipeline, pkg:schema-unique-keys, json-everything.net, pkg:schema-array-ext

#598 sbyte is an integer
  Json.More/TypeExtensions.cs
Labels: pkg:more

#599 More/sbyte
  Json.More/Json.More.csproj
  Json.More/JsonNodeExtensions.cs
  Json.More/TypeExtensions.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#601 Schema/base document schema location
  JsonSchema.Tests/Files/Issue600_schema.json
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#604 Performance improvement
  JsonSchema/ErrorMessages.cs
  JsonSchema/Formats.cs
  JsonSchema/JsonSchema.cs
Labels: pkg:schema

#605 support inaccessible types
  JsonSchema.Tests/Serialization/DeserializationTests.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  json-everything.sln.DotSettings
Labels: pkg:schema
