Repository json-everything/json-everything, pull requests merged in 2023-04, with the labels that each got.

#427 File fragment refs
  JsonSchema.Tests/Files/Issue426_data.json
  JsonSchema.Tests/Files/Issue426_schema.json
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/RefKeyword.cs
Labels: pkg:schema

#434 another unresolved `$ref`
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema

#436 Non-circular `$ref`
  JsonSchema.Tests/DevTest.cs
  JsonSchema.Tests/Files/Issue435_schema.json
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/RefKeyword.cs
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema

#442 fix date-time format regex to support rfc3339
  JsonSchema.Tests/DevTest.cs
  JsonSchema.Tests/FormatTests.cs
  JsonSchema/Formats.cs
  JsonSchema/JsonSchema.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema.md
Labels: documentation, pkg:schema

#443 Support for JSON Schema during deserialization
  JsonSchema.Tests/Serialization/DeserializationTests.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/Serialization/JsonSchemaAttribute.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  json-everything.net/Pages/Schema.razor
  json-everything.net/Services/AnchorRegistry.cs
  json-everything.net/wwwroot/md/release-notes/json-schema.md
  json-everything.net/wwwroot/md/schema-serialization.md
Labels: documentation, pkg:schema, json-everything.net
