Repository json-everything/json-everything, pull requests merged in 2023-02, with the labels that each got.

#375 Update between operator
  JsonLogic.Tests/LessThanEqualTests.cs
  JsonLogic.Tests/LessThanTests.cs
  JsonLogic/Rules/LessThanEqualRule.cs
  JsonLogic/Rules/LessThanRule.cs
Labels: pkg:logic

#376 Logic/between operator string coercion
  JsonLogic.Tests/LessThanEqualTests.cs
  JsonLogic.Tests/LessThanTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rules/LessThanEqualRule.cs
  JsonLogic/Rules/LessThanRule.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic, try-me-site

#380 Datagen property count bounding
  JsonSchema.DataGeneration/Generators/ObjectGenerator.cs
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema-datageneration.md
Labels: documentation, pkg:schema-datagen, try-me-site

#385 Logic/none fix
  JsonLogic.Tests/GithubTests.cs
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rules/AllRule.cs
  JsonLogic/Rules/NoneRule.cs
  JsonLogic/Rules/SomeRule.cs
  json-everything.net/wwwroot/md/release-notes/json-logic.md
Labels: documentation, pkg:logic, try-me-site

#386 enum datagen should copy the values from the schema, not use them directly
  JsonSchema.DataGeneration.Tests/GithubTests.cs
  JsonSchema.DataGeneration/Generators/EnumGenerator.cs
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  json-everything.net/wwwroot/md/release-notes/json-schema-datageneration.md
Labels: documentation, pkg:schema-datagen, try-me-site

#387 add back-to-yaml functionality
  Yaml2JsonNode/Yaml2JsonNode.csproj
  Yaml2JsonNode/YamlConverter.cs
  json-everything.net/wwwroot/md/release-notes/yaml.md
  json-everything.net/wwwroot/md/yaml.md
  json-everything.net/wwwroot/xml/Yaml2JsonNode.xml
Labels: documentation, try-me-site, pkg:yaml

#372 Path/boolean valued functions
  JsonPath.Tests/JsonPointerConversionTests.cs
  JsonPath.Tests/StackOverflowTests.cs
  JsonPath.Tests/Suite/CburgmerFeatureValidationTests.cs
  JsonPath.Tests/Suite/ComplianceTestSuiteStringifyTests.cs
  JsonPath.Tests/Suite/ComplianceTestSuiteTests.cs
  JsonPath/CountFunction.cs
  JsonPath/Expressions/BinaryComparativeExpressionNode.cs
  JsonPath/Expressions/BinaryLogicalExpressionNode.cs
  JsonPath/Expressions/BooleanFunctionExpressionNode.cs
  JsonPath/Expressions/BooleanResultExpressionNode.cs
  JsonPath/Expressions/ComparativeExpressionNode.cs
  JsonPath/Expressions/ExistsOperator.cs
  JsonPath/Expressions/ExpressionParser.cs
  JsonPath/Expressions/FunctionExpressionNode.cs
  JsonPath/Expressions/FunctionExpressionParser.cs
  JsonPath/Expressions/IComparativeExpressionParser.cs
  JsonPath/Expressions/ILogicalExpressionParser.cs
  JsonPath/Expressions/IValueExpressionParser.cs
  JsonPath/Expressions/LiteralExpressionNode.cs
  JsonPath/Expressions/LogicalExpressionNode.cs
  JsonPath/Expressions/Operators.cs
  JsonPath/Expressions/PathExpressionNode.cs
  JsonPath/Expressions/UnaryComparativeExpressionNode.cs
  JsonPath/Expressions/UnaryLogicalExpressionNode.cs
  JsonPath/Expressions/ValueExpressionNode.cs
  JsonPath/Expressions/ValueFunctionExpressionNode.cs
  JsonPath/FilterSelector.cs
  JsonPath/FunctionRepository.cs
  JsonPath/FunctionType.cs
  JsonPath/IPathFunctionDefinition.cs
  JsonPath/ISelectorParser.cs
  JsonPath/IndexSelector.cs
  JsonPath/JsonNodeExtensions.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/JsonPathExtensions.cs
  JsonPath/LengthFunction.cs
  JsonPath/MatchFunction.cs
  JsonPath/NameSelector.cs
  JsonPath/ParameterType.cs
  JsonPath/PathEvaluationOptions.cs
  JsonPath/PathParser.cs
  JsonPath/PathParsingOptions.cs
  JsonPath/SearchFunction.cs
  JsonPath/SliceSelector.cs
  JsonPath/SpanExtensions.cs
  JsonPath/UtilityExtensions.cs
  JsonPath/WildcardSelector.cs
  json-everything.net/wwwroot/md/json-path.md
  json-everything.net/wwwroot/md/release-notes/json-path.md
Labels: documentation, pkg:path, try-me-site

#359 Schema/better access
  JsonSchema.Data/JsonSchemaExtensions.cs
  JsonSchema.OpenApi/JsonSchemaExtensions.cs
  JsonSchema.UniqueKeys/JsonSchemaExtensions.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/EvaluationContext.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaExtensions.KeywordAccess.cs
  JsonSchema/JsonSchemaExtensions.cs
  JsonSchema/SchemaKeyword.cs
Labels: pkg:schema, pkg:schema-data, pkg:schema-unique-keys, pkg:schema-openapi
