Repository json-everything/json-everything, pull requests merged in 2023-06, with the labels that each got.

#467 exposing primary portions of model; makes exposed API more consistent
  JsonPath/Expressions/BooleanResultExpressionNode.cs
  JsonPath/FilterSelector.cs
  JsonPath/IFilterExpression.cs
  JsonPath/IHaveShorthand.cs
  JsonPath/ISelector.cs
  JsonPath/IndexSelector.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/NameSelector.cs
  JsonPath/SliceSelector.cs
  JsonPath/WildcardSelector.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#469 replicate issue with test
  JsonSchema.Tests/BaseDocumentTests.cs
  JsonSchema/JsonNodeBaseDocument.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#470 sweden and norway resources
  JsonSchema/Localization/Resources.nb-no.resx
  JsonSchema/Localization/Resources.sv-se.resx
Labels: pkg:schema

#471 add support for json source generation to JsonPatch
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/JsonPatch.cs
Labels: pkg:patch

#472 Patch/v2.1.0
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch/JsonPatch.cs
  JsonPatch/JsonPatch.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-patch.md
Labels: pkg:patch

#474 split out localizations into a new project
  .github/workflows/publish-schema-langs.yml
  JsonSchema.Localization/JsonSchema.Localization.csproj
  JsonSchema.Localization/Resources.es-es.resx
  JsonSchema.Localization/Resources.nb-no.resx
  JsonSchema.Localization/Resources.sv-se.resx
  JsonSchema.Localization/nuspec/.gitignore
  JsonSchema.Localization/nuspec/JsonSchema.Net.es-es.nuspec
  JsonSchema.Localization/nuspec/JsonSchema.Net.nb-no.nuspec
  JsonSchema.Localization/nuspec/JsonSchema.Net.sv-se.nuspec
  JsonSchema.Tests/LocalizationTests.cs
  json-everything.sln
Labels: build pipeline

#473 allow duplicates in enum keyword
  JsonSchema/EnumKeyword.cs
  JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#475 add yaml serializer to mimic json serializer (somewhat)
  Yaml2JsonNode.Tests/Files/expected-serialized.yaml
  Yaml2JsonNode.Tests/SerializerTests.cs
  Yaml2JsonNode.Tests/Yaml2JsonNode.Tests.csproj
  Yaml2JsonNode/Yaml2JsonNode.csproj
  Yaml2JsonNode/YamlSerializer.cs
  tools/ApiDocsGenerator/release-notes/rn-yaml.md
Labels: pkg:yaml

#477 Set quote style for strings to support roundtrip
  Yaml2JsonNode.Tests/ClientTests.cs
  Yaml2JsonNode.Tests/Files/expected-serialized.yaml
  Yaml2JsonNode/Yaml2JsonNode.csproj
  Yaml2JsonNode/YamlConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-yaml.md
Labels: pkg:yaml

#479 use invariant culture when parsing numbers from yaml data
  Yaml2JsonNode.Tests/ClientTests.cs
  Yaml2JsonNode/Yaml2JsonNode.csproj
  Yaml2JsonNode/YamlConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-yaml.md
Labels: pkg:yaml
