Repository json-everything/json-everything, pull requests merged in 2024-12, with the labels that each got.

#827 Patch/move fixes
  src/JsonPatch.Tests/GithubTests.cs
  src/JsonPatch/CopyOperationHandler.cs
  src/JsonPatch/JsonPatch.csproj
  src/JsonPatch/MoveOperationHandler.cs
  tools/ApiDocsGenerator/release-notes/rn-json-patch.md
Labels: pkg:patch

#828 fix: make copy with '-' as target working
  src/JsonPatch.Tests/GithubTests.cs
  src/JsonPatch/CopyOperationHandler.cs
  src/JsonPatch/JsonPatch.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-patch.md
Labels: pkg:patch

#829 fix: make end of array via '-' accessible
  src/JsonPatch.Tests/GithubTests.cs
  src/JsonPatch/JsonPatch.csproj
  src/JsonPatch/RemoveOperationHandler.cs
  src/JsonPatch/ReplaceOperationHandler.cs
  tools/ApiDocsGenerator/release-notes/rn-json-patch.md
Labels: pkg:patch

#834 chore: clean up when parsing node list argument
  src/JsonPath/Expressions/FunctionExpressionParser.cs
Labels: pkg:path

#830 chore: Remove unused ExistsOperator.cs and NoOpOperator.cs
  src/JsonPath/Expressions/ExistsOperator.cs
  src/JsonPath/Expressions/NoOpOperator.cs
  src/JsonPath/Expressions/Operators.cs
  src/JsonPath/Expressions/UnaryLogicalExpressionNode.cs
Labels: pkg:path

#839 Add German Localization
  src/JsonSchema/Localization/Resources.de.resx
  src/JsonSchema/nuspec/JsonSchema.Net.de.nuspec
  src/JsonSchema/nuspec/README.de.md
Labels: pkg:schema

#838 Add Korean Localization
  src/JsonSchema/Localization/Resources.ko.resx
  src/JsonSchema/nuspec/JsonSchema.Net.ko.nuspec
  src/JsonSchema/nuspec/README.ko.md
Labels: pkg:schema

#837 chore: Add nested noop test case
  src/JsonPath.Tests/ExpressionTests.cs
  src/JsonPath/Expressions/FunctionValueExpressionNode.cs
Labels: pkg:path

#842 Path/improved nodelist functions
  src/JsonPath.Tests/ExpressionTests.cs
  src/JsonPath/Expressions/FunctionValueExpressionNode.cs
  src/JsonPath/JsonPath.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#845 add dependency check for jsonschema.net
  src/JsonSchema.Tests/DependencyChecks.cs
  src/JsonSchema/JsonSchema.csproj
  src/JsonSchema/nuspec/JsonSchema.Net.nuspec
Labels: pkg:schema
