Repository json-everything/json-everything, pull requests merged in 2024-02, with the labels that each got.

#649 Proposed fixes to get tests passing again
  JsonPatch/JsonSerializerOptionsExtensions.cs
  JsonPatch/PatchOperation.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/JsonSerializerOptionsExtensions.cs
Labels: pkg:schema, pkg:patch

#650 Add Read and Write collection helpers and start converting to them
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonPatch.Tests/TestEnvironment.cs
  JsonSchema.Tests/TestEnvironment.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/DefinitionsKeyword.cs
  JsonSchema/DefsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/PropertiesKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/PropertyDependency.cs
  JsonSchema/RequiredKeyword.cs
Labels: pkg:more, pkg:schema

#651 use non-generic attributes internally
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/DependsOnAnnotationsFromAttribute.cs
  JsonSchema/ElseKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/ThenKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#653 Add support for .NET Standard 2.0 for JsonPath.Net
  JsonPath.Tests/Suite/CburgmerFeatureValidationTests.cs
  JsonPath/Expressions/FunctionBooleanExpressionNode.cs
  JsonPath/Expressions/FunctionValueExpressionNode.cs
  JsonPath/Expressions/Operators.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/PathSegment.cs
Labels: pkg:path

#655 Path/net standard 2.0
  JsonPath.Tests/Suite/CburgmerFeatureValidationTests.cs
  JsonPath/Expressions/FunctionBooleanExpressionNode.cs
  JsonPath/Expressions/FunctionValueExpressionNode.cs
  JsonPath/Expressions/Operators.cs
  JsonPath/FunctionRepository.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPath.csproj
  JsonPath/PathSegment.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path

#658 Datagen/issue with disallowed props
  JsonSchema.DataGeneration.Tests/ConditionalGenerationTests.cs
  JsonSchema.DataGeneration.Tests/GithubTests.cs
  JsonSchema.DataGeneration.Tests/ResultsExtensions.cs
  JsonSchema.DataGeneration/Generators/ObjectGenerator.cs
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  JsonSchema.DataGeneration/RequirementsContext.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-datageneration.md
Labels: pkg:schema-datagen

#660 Reusing schemas with different/changed options
  JsonSchema.Tests/EvaluationOptionsTests.cs
  JsonSchema/EvaluationOptions.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/SchemaRegistry.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#665 Add support for pointer refs
  JsonSchema.DataGeneration.Tests/NumberGenerationTests.cs
  JsonSchema.DataGeneration.Tests/RefTests.cs
  JsonSchema.DataGeneration.Tests/TestHelpers.cs
  JsonSchema.DataGeneration/IRequirementsGatherer.cs
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  JsonSchema.DataGeneration/JsonSchemaExtensions.cs
  JsonSchema.DataGeneration/NumberRangeSet.cs
  JsonSchema.DataGeneration/Requirements/AllOfRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/AnyOfRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/ConditionalRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/ConstRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/ContainsRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/EnumRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/FalseRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/ItemsRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/NotRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/NumberRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/OneOfRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/PropertiesRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/RefRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/StringRequirementsGatherer.cs
  JsonSchema.DataGeneration/Requirements/TypeRequirementsGatherer.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-datageneration.md
Labels: pkg:schema-datagen

#669 UInt support in .GetInteger()
  Json.More/Json.More.csproj
  Json.More/JsonNodeExtensions.cs
  JsonSchema.Tests/GithubTests.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#670 add xml comment support
  JsonSchema.Generation.Tests/CommentsTests.cs
  JsonSchema.Generation.Tests/JsonSchema.Generation.Tests.csproj
  JsonSchema.Generation/Attributes/DescriptionAttribute.cs
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/SchemaGenerationContextBase.cs
  JsonSchema.Generation/SchemaGenerationContextCache.cs
  JsonSchema.Generation/SchemaGeneratorConfiguration.cs
  JsonSchema.Generation/XmlComments/CommonComments.cs
  JsonSchema.Generation/XmlComments/DocXmlReader.cs
  JsonSchema.Generation/XmlComments/EnumComments.cs
  JsonSchema.Generation/XmlComments/EnumValueComment.cs
  JsonSchema.Generation/XmlComments/InheritdocTag.cs
  JsonSchema.Generation/XmlComments/MethodComments.cs
  JsonSchema.Generation/XmlComments/TypeComments.cs
  JsonSchema.Generation/XmlComments/XmlDocId.cs
  json-everything.net/Pages/Schema.razor
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation, json-everything.net

#671 support multiple ifs on the same prop creating an enum keyword
  JsonSchema.Generation.Tests/ConditionalTests.cs
  JsonSchema.Generation/Generators/ObjectSchemaGenerator.cs
  JsonSchema.Generation/Intents/EnumIntent.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation
