Repository json-everything/json-everything, pull requests merged in 2024-03, with the labels that each got.

#676 add polish translations
  JsonSchema/Localization/Resources.pl-PL.resx
  JsonSchema/nuspec/JsonSchema.Net.pl-PL.nuspec
  README.md
Labels: pkg:schema

#678 Add Italian localization
  JsonSchema/Localization/Resources.it.resx
  JsonSchema/nuspec/JsonSchema.Net.it.nuspec
  README.md
Labels: pkg:schema

#679 replicate problem with unit test
  JsonSchema.Tests/GithubTests.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSerializerOptionsExtensions.cs
  JsonSchema/SchemaKeywordRegistry.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#680 add accessor extension methods
  JsonLogic/JsonLogic.csproj
  JsonLogic/Rule.cs
  JsonLogic/RuleExtensions.cs
  JsonLogic/Rules/AddRule.cs
  JsonLogic/Rules/AllRule.cs
  JsonLogic/Rules/AndRule.cs
  JsonLogic/Rules/BooleanCastRule.cs
  JsonLogic/Rules/CatRule.cs
  JsonLogic/Rules/DivideRule.cs
  JsonLogic/Rules/FilterRule.cs
  JsonLogic/Rules/IfRule.cs
  JsonLogic/Rules/InRule.cs
  JsonLogic/Rules/LessThanEqualRule.cs
  JsonLogic/Rules/LessThanRule.cs
  JsonLogic/Rules/LogRule.cs
  JsonLogic/Rules/LooseEqualsRule.cs
  JsonLogic/Rules/LooseNotEqualsRule.cs
  JsonLogic/Rules/MapRule.cs
  JsonLogic/Rules/MaxRule.cs
  JsonLogic/Rules/MergeRule.cs
  JsonLogic/Rules/MinRule.cs
  JsonLogic/Rules/MissingRule.cs
  JsonLogic/Rules/MissingSomeRule.cs
  JsonLogic/Rules/ModRule.cs
  JsonLogic/Rules/MoreThanEqualRule.cs
  JsonLogic/Rules/MoreThanRule.cs
  JsonLogic/Rules/MultiplyRule.cs
  JsonLogic/Rules/NoneRule.cs
  JsonLogic/Rules/NotRule.cs
  JsonLogic/Rules/OrRule.cs
  JsonLogic/Rules/ReduceRule.cs
  JsonLogic/Rules/RuleCollection.cs
  JsonLogic/Rules/SomeRule.cs
  JsonLogic/Rules/StrictEqualsRule.cs
  JsonLogic/Rules/StrictNotEqualsRule.cs
  JsonLogic/Rules/SubstrRule.cs
  JsonLogic/Rules/SubtractRule.cs
  JsonLogic/Rules/VariableRule.cs
  tools/ApiDocsGenerator/release-notes/rn-json-logic.md
Labels: pkg:logic

#681 add `$find` operator
  JsonE/JsonE.csproj
  JsonE/Operators/FindOperator.cs
  JsonE/Operators/OperatorRepository.cs
  JsonLogic/JsonLogic.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-e.md
  tools/ApiDocsGenerator/release-notes/rn-json-logic.md
Labels: pkg:logic, pkg:json-e

#691 update 2020-12 anchor verification
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonSchema.Tests/AnchorTests.cs
  JsonSchema.Tests/ResultsExtensions.cs
  JsonSchema.Tests/Suite/Output.cs
  JsonSchema/AnchorKeyword.cs
  JsonSchema/DynamicAnchorKeyword.cs
  JsonSchema/DynamicRefKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/MetaSchemas.Draft201909.cs
  JsonSchema/MetaSchemas.Draft202012.cs
  JsonSchema/RecursiveRefKeyword.cs
  JsonSchema/RefKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:more, pkg:schema

#695 obsolete 2020 output converter
  JsonSchema/EvaluationResults.cs
  JsonSchema/JsonSchema.csproj
  json-everything.net/Pages/Schema.razor
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, json-everything.net

#698 Various updates
  JsonSchema.Generation.Tests/ClientTests.cs
  JsonSchema.Generation/Attributes/ExclusiveMaximumAttribute.cs
  JsonSchema.Generation/Attributes/ExclusiveMinimumAttribute.cs
  JsonSchema.Generation/Attributes/IfMaxAttribute.cs
  JsonSchema.Generation/Attributes/IfMinAttribute.cs
  JsonSchema.Generation/Attributes/JsonNumberHandlingAttributeHandler.cs
  JsonSchema.Generation/Attributes/MaximumAttribute.cs
  JsonSchema.Generation/Attributes/MinimumAttribute.cs
  JsonSchema.Generation/Attributes/MultipleOfAttribute.cs
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/TypeExtensions.cs
  JsonSchema.Tests/SerializationTests.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, pkg:schema-generation
