Repository json-everything/json-everything, pull requests merged in 2024-01, with the labels that each got.

#613 add tuple array conversion
  Json.More.Tests/JsonArrayTupleConverterDeserializationTests.cs
  Json.More.Tests/JsonArrayTupleConverterSerializationTests.cs
  Json.More/Json.More.csproj
  Json.More/JsonArrayTupleConverter.cs
  Json.More/JsonCollectionTupleConverter.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#616 Add missing space to min properties error resx
  JsonSchema/JsonSchema.csproj
  JsonSchema/Localization/Resources.resx
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#615 Better support for tuple serialization
  Json.More.Tests/JsonArrayTupleConverterDeserializationTests.cs
  Json.More.Tests/JsonArrayTupleConverterSerializationTests.cs
  Json.More.Tests/ObjectWithTuple.cs
  Json.More/Json.More.csproj
  Json.More/JsonArrayTupleConverter.cs
  Json.More/JsonCollectionTupleConverter.cs
  Json.More/JsonElementExtensions.cs
  Json.More/ValueReader.cs
  Json.More/ValueWriter.cs
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#624 fix up json pointer (and a couple others)
  Json.More/JsonNull.cs
  JsonPath/JsonPath.cs
  JsonPath/JsonPathConverter.cs
  JsonPointer/JsonPointer.cs
  JsonPointer/JsonPointer.csproj
  JsonPointer/JsonPointerJsonConverter.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaSerializerContext.cs
Labels: pkg:more, pkg:schema, pkg:path, pkg:pointer

#628 Native aot type safe read
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/ConstKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/DefaultKeyword.cs
  JsonSchema/DefinitionsKeyword.cs
  JsonSchema/DefsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/ElseKeyword.cs
  JsonSchema/EnumKeyword.cs
  JsonSchema/ExamplesKeyword.cs
  JsonSchema/IfKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/NotKeyword.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/PropertiesKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/PropertyDependency.cs
  JsonSchema/PropertyNamesKeyword.cs
  JsonSchema/RequiredKeyword.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  JsonSchema/ThenKeyword.cs
  JsonSchema/TypeKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  JsonSchema/VocabularyKeyword.cs
Labels: pkg:more, pkg:schema

#625 Fix ErrorMessages serialization for AOT
  JsonSchema.Tests/VocabularyTests.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/ErrorMessages.cs
  JsonSchema/GlobalSuppressions.cs
  JsonSchema/JsonNodeBaseDocument.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/SchemaKeywordRegistry.cs
Labels: pkg:schema

#631 Native aot context options mgr
  Json.More/TypeResolverOptionsManager.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/ErrorMessages.cs
  JsonSchema/JsonNodeBaseDocument.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/SchemaKeywordRegistry.cs
Labels: pkg:more, pkg:schema

#632 Add options.Write extension method and use it in JsonSchema
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonSchema/AdditionalItemsKeyword.cs
  JsonSchema/AdditionalPropertiesKeyword.cs
  JsonSchema/AllOfKeyword.cs
  JsonSchema/AnyOfKeyword.cs
  JsonSchema/ConstKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/DefaultKeyword.cs
  JsonSchema/DefinitionsKeyword.cs
  JsonSchema/DefsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/DynamicRefKeyword.cs
  JsonSchema/ElseKeyword.cs
  JsonSchema/EnumKeyword.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/ExamplesKeyword.cs
  JsonSchema/GlobalSuppressions.cs
  JsonSchema/IfKeyword.cs
  JsonSchema/ItemsKeyword.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/NotKeyword.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternPropertiesKeyword.cs
  JsonSchema/PrefixItemsKeyword.cs
  JsonSchema/PropertiesKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/PropertyDependency.cs
  JsonSchema/PropertyNamesKeyword.cs
  JsonSchema/RecursiveRefKeyword.cs
  JsonSchema/RefKeyword.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
  JsonSchema/ThenKeyword.cs
  JsonSchema/TypeKeyword.cs
  JsonSchema/UnevaluatedItemsKeyword.cs
  JsonSchema/UnevaluatedPropertiesKeyword.cs
  JsonSchema/UnrecognizedKeyword.cs
Labels: pkg:more, pkg:schema

#633 better options mgr & improve json.more equality check & remove jsonnull
  Json.More.Tests/DevTest.cs
  Json.More/JsonNodeExtensions.cs
  Json.More/JsonNull.cs
  Json.More/TypeResolverOptionsManager.cs
  JsonE/Expressions/Functions/TypeOfFunction.cs
  JsonLogic.Tests/Suite/MoreTests.cs
  JsonLogic/Rules/AddRule.cs
  JsonLogic/Rules/DivideRule.cs
  JsonLogic/Rules/LiteralRule.cs
  JsonLogic/Rules/MaxRule.cs
  JsonLogic/Rules/MinRule.cs
  JsonLogic/Rules/ModRule.cs
  JsonLogic/Rules/MultiplyRule.cs
  JsonLogic/Rules/ReduceRule.cs
  JsonLogic/Rules/SubtractRule.cs
  JsonPath/Expressions/AddOperator.cs
  JsonPath/Expressions/DivideOperator.cs
  JsonPath/Expressions/EqualToOperator.cs
  JsonPath/Expressions/GreaterThanOperator.cs
  JsonPath/Expressions/GreaterThanOrEqualToOperator.cs
  JsonPath/Expressions/InOperator.cs
  JsonPath/Expressions/LessThanOperator.cs
  JsonPath/Expressions/LessThanOrEqualToOperator.cs
  JsonPath/Expressions/LiteralExpressionNode.cs
  JsonPath/Expressions/MultiplyOperator.cs
  JsonPath/Expressions/NotEqualToOperator.cs
  JsonPath/Expressions/PathValue.cs
  JsonPath/Expressions/SubtractOperator.cs
  JsonPath/JsonNodeExtensions.cs
  JsonPath/SpanExtensions.cs
  JsonSchema/ErrorMessages.cs
  JsonSchema/JsonNodeExtensions.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  tools/ApiDocsGenerator/Program.cs
Labels: pkg:more, pkg:schema, pkg:path, pkg:logic, pkg:json-e

#627 Patch updates
  JsonPatch.Tests/GithubTests.cs
  JsonPatch.Tests/JsonPatch.Tests.csproj
  JsonPatch.Tests/PatchExtensionTests.cs
  JsonPatch.Tests/SingleOpProcessingTests.cs
  JsonPatch.Tests/Suite/JsonPatchTest.cs
  JsonPatch.Tests/Suite/JsonPatchTestSuite.cs
  JsonPatch.Tests/TestSerializerContext.cs
  JsonPatch/GlobalSuppressions.cs
  JsonPatch/JsonPatch.cs
  JsonPatch/JsonPatch.csproj
  JsonPatch/PatchExtensions.cs
  JsonPatch/PatchOperation.cs
Labels: pkg:patch

#637 Get JsonE running in reflection disabled mode
  JsonE.Tests/JsonE.Tests.csproj
  JsonE.Tests/Suite/MoreTestsRunner.cs
  JsonE.Tests/Suite/SuiteRunner.cs
  JsonE/Expressions/ArrayExpressionNode.cs
  JsonE/Expressions/ContextAccessorExpressionNode.cs
  JsonE/Expressions/IOperandExpressionParser.cs
  JsonE/Expressions/JsonExpression.cs
  JsonE/Expressions/ObjectExpressionNode.cs
  JsonE/FunctionDefinition.cs
  JsonE/JsonE.cs
  JsonE/JsonE.csproj
  JsonE/JsonNodeExtensions.cs
  JsonE/Operators/JsonOperator.cs
Labels: pkg:json-e

#636 Update pragma warning disables to SuppressMessage attributes
  Json.More/Json.More.csproj
  Json.More/JsonSerializerOptionsExtensions.cs
  JsonLogic/JsonLogic.csproj
  JsonPatch/JsonPatch.csproj
  JsonPath/JsonPath.csproj
  JsonPointer/JsonPointer.csproj
  JsonSchema.ArrayExt/JsonSchema.ArrayExt.csproj
  JsonSchema.CodeGeneration/JsonSchema.CodeGeneration.csproj
  JsonSchema.CodeGeneration/Model/ModelGenerator.cs
  JsonSchema.Data/DataKeyword.cs
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Data/UriIdentifier.cs
  JsonSchema.OpenApi/DiscriminatorKeyword.cs
  JsonSchema.OpenApi/ExternalDocsKeyword.cs
  JsonSchema.OpenApi/JsonSchema.OpenApi.csproj
  JsonSchema.OpenApi/XmlKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/ContentSchemaKeyword.cs
  JsonSchema/ErrorMessages.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/JsonNodeBaseDocument.cs
  JsonSchema/JsonSchema.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSerializerOptionsExtensions.cs
  JsonSchema/Serialization/ValidatingJsonConverter.cs
Labels: pkg:more, pkg:schema, pkg:patch, pkg:path, pkg:pointer, pkg:schema-data, pkg:logic, pkg:schema-openapi, pkg:schema-codegen, pkg:schema-array-ext

#639 Use null forgiving to get type safety at a few more call sites
  JsonE/Operators/JsonOperator.cs
  JsonSchema/EvaluationResults.cs
Labels: pkg:schema, pkg:json-e

#642 Fix ErrorMessages and EvaluationResult.Fail to be AOT compatible
  JsonSchema.ArrayExt/OrderingKeyword.cs
  JsonSchema.ArrayExt/UniqueKeysKeyword.cs
  JsonSchema.ArrayExt/Vocabularies.cs
  JsonSchema.Tests/VocabularyTests.cs
  JsonSchema/ConstKeyword.cs
  JsonSchema/ContainsKeyword.cs
  JsonSchema/DependenciesKeyword.cs
  JsonSchema/DependentRequiredKeyword.cs
  JsonSchema/DependentSchemasKeyword.cs
  JsonSchema/EnumKeyword.cs
  JsonSchema/ErrorMessages.cs
  JsonSchema/EvaluationResults.cs
  JsonSchema/ExclusiveMaximumKeyword.cs
  JsonSchema/ExclusiveMinimumKeyword.cs
  JsonSchema/FormatKeyword.cs
  JsonSchema/JsonSchemaSerializerContext.cs
  JsonSchema/MaxItemsKeyword.cs
  JsonSchema/MaxLengthKeyword.cs
  JsonSchema/MaxPropertiesKeyword.cs
  JsonSchema/MaximumKeyword.cs
  JsonSchema/MinItemsKeyword.cs
  JsonSchema/MinLengthKeyword.cs
  JsonSchema/MinPropertiesKeyword.cs
  JsonSchema/MinimumKeyword.cs
  JsonSchema/MultipleOfKeyword.cs
  JsonSchema/OneOfKeyword.cs
  JsonSchema/PatternKeyword.cs
  JsonSchema/PropertyDependenciesKeyword.cs
  JsonSchema/RequiredKeyword.cs
  JsonSchema/SchemaKeyword.cs
  JsonSchema/TypeKeyword.cs
  JsonSchema/UniqueItemsKeyword.cs
  JsonSchema/VocabularyKeyword.cs
Labels: pkg:schema, pkg:schema-array-ext

#611 Add [MemberNotNullWhen] to PatchResult
  JsonPatch/PatchResult.cs
Labels: pkg:patch
