Repository json-everything/json-everything, pull requests merged in 2024-04, with the labels that each got.

#707 IReadOnlyCollections to IReadOnlyLists in KeywordAccess extensions
  JsonSchema/JsonSchemaExtensions.KeywordAccess.cs
Labels: pkg:schema

#709 Schema/builder extension update
  JsonSchema/JsonSchema.csproj
  JsonSchema/JsonSchemaExtensions.KeywordAccess.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#712 Nuget updates
  .editorconfig
  Json.More/Json.More.csproj
  Json.More/README.md
  JsonE/JsonE.csproj
  JsonE/README.md
  JsonLogic/JsonLogic.csproj
  JsonLogic/README.md
  JsonPatch/JsonPatch.csproj
  JsonPatch/README.md
  JsonPath/JsonPath.csproj
  JsonPath/README.md
  JsonPointer/JsonPointer.csproj
  JsonPointer/README.md
  JsonSchema.ArrayExt/JsonSchema.ArrayExt.csproj
  JsonSchema.ArrayExt/README.md
  JsonSchema.Data/JsonSchema.Data.csproj
  JsonSchema.Data/README.md
  JsonSchema.DataGeneration/JsonSchema.DataGeneration.csproj
  JsonSchema.DataGeneration/README.md
  JsonSchema.Generation.DataAnnotations/JsonSchema.Generation.DataAnnotations.csproj
  JsonSchema.Generation.DataAnnotations/README.md
  JsonSchema.Generation/JsonSchema.Generation.csproj
  JsonSchema.Generation/README.md
  JsonSchema.OpenApi/JsonSchema.OpenApi.csproj
  JsonSchema.OpenApi/README.md
  JsonSchema/JsonSchema.csproj
  JsonSchema/README.md
  JsonSchema/nuspec/JsonSchema.Net.es.nuspec
  JsonSchema/nuspec/JsonSchema.Net.it.nuspec
  JsonSchema/nuspec/JsonSchema.Net.nb-NO.nuspec
  JsonSchema/nuspec/JsonSchema.Net.nuspec
  JsonSchema/nuspec/JsonSchema.Net.pl-PL.nuspec
  JsonSchema/nuspec/JsonSchema.Net.ru.nuspec
  JsonSchema/nuspec/JsonSchema.Net.sv-SE.nuspec
  JsonSchema/nuspec/JsonSchema.Net.tr-TR.nuspec
  JsonSchema/nuspec/README.es.md
  JsonSchema/nuspec/README.it.md
  JsonSchema/nuspec/README.nb-NO.md
  JsonSchema/nuspec/README.pl-PL.md
  JsonSchema/nuspec/README.ru.md
  JsonSchema/nuspec/README.sv-SE.md
  JsonSchema/nuspec/README.tr-TR.md
  Yaml2JsonNode/README.md
  Yaml2JsonNode/Yaml2JsonNode.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-e.md
  tools/ApiDocsGenerator/release-notes/rn-json-logic.md
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
  tools/ApiDocsGenerator/release-notes/rn-json-patch.md
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-array-ext.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-data.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-datageneration.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation-dataannotations.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema-openapi.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
  tools/ApiDocsGenerator/release-notes/rn-yaml.md
Labels: pkg:more, pkg:schema, pkg:patch, pkg:path, pkg:pointer, pkg:schema-generation, pkg:schema-data, pkg:logic, pkg:schema-datagen, pkg:schema-openapi, pkg:yaml, pkg:json-e, pkg:schema-array-ext, pkg:schema-generation-dataannotations

#714 Do not evaluate untaken if and switch branches
  JsonE.Tests/Files/more-tests.yml
  JsonE/Operators/IfThenElseOperator.cs
  JsonE/Operators/SwitchOperator.cs
Labels: pkg:json-e

#715 Jsone/update
  JsonE.Tests/Files/more-tests.yml
  JsonE/JsonE.csproj
  JsonE/Operators/IfThenElseOperator.cs
  JsonE/Operators/SwitchOperator.cs
  tools/ApiDocsGenerator/release-notes/rn-json-e.md
Labels: pkg:json-e

#717 fix an exception message
  JsonLogic/JsonLogic.csproj
  JsonLogic/RuleRegistry.cs
  JsonSchema/JsonSchema.csproj
  JsonSchema/SchemaKeywordRegistry.cs
  tools/ApiDocsGenerator/release-notes/rn-json-logic.md
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema, pkg:logic
