Repository json-everything/json-everything, pull requests merged in 2024-06, with the labels that each got.

#745 Site/layout update
  json-everything.net/Pages/Json-e.razor
  json-everything.net/Pages/Logic.razor
  json-everything.net/Pages/Patch.razor
  json-everything.net/Pages/Path.razor
  json-everything.net/Pages/Pointer.razor
  json-everything.net/Pages/Schema.razor
  json-everything.net/Services/HelpContent.cs
  json-everything.net/json-everything.net.csproj
  json-everything.net/wwwroot/css/app.css
  json-everything.net/wwwroot/css/bootstrap-overrides.css
  json-everything.net/wwwroot/css/editor.css
  json-everything.net/wwwroot/css/playground.css
  json-everything.net/wwwroot/index.html
Labels: json-everything.net

#746 Schema/min contains is draft 2019
  src/JsonSchema.Tests/CrossDraftTests.cs
  src/JsonSchema/ContainsKeyword.cs
  src/JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#741 chore: Fix typo in InOperator
  src/JsonPath/Expressions/InOperator.cs
Labels: pkg:path

#751 improve term grouping logic for filter expressions
  .github/workflows/dotnet-core.yml
  src/JsonPath.Tests/ParsedGoessnerTests.cs
  src/JsonPath.Tests/ParsingTests.cs
  src/JsonPath.Tests/StringifyTests.cs
  src/JsonPath.Tests/Suite/ComplianceTestSuiteStringifyTests.cs
  src/JsonPath/Expressions/BinaryLogicalExpressionNode.cs
  src/JsonPath/Expressions/BooleanResultExpressionNode.cs
  src/JsonPath/Expressions/ComparativeExpressionNode.cs
  src/JsonPath/Expressions/CompositeValueExpressionNode.cs
  src/JsonPath/Expressions/ExistsLogicalExpressionNode.cs
  src/JsonPath/Expressions/ExpressionNode.cs
  src/JsonPath/Expressions/ExpressionParser.cs
  src/JsonPath/Expressions/FunctionExpressionParser.cs
  src/JsonPath/Expressions/FunctionLogicalExpressionNode.cs
  src/JsonPath/Expressions/FunctionValueExpressionNode.cs
  src/JsonPath/Expressions/IComparativeExpressionParser.cs
  src/JsonPath/Expressions/IValueExpressionParser.cs
  src/JsonPath/Expressions/InOperator.cs
  src/JsonPath/Expressions/LiteralValueExpressionNode.cs
  src/JsonPath/Expressions/LogicalExpressionNode.cs
  src/JsonPath/Expressions/Operators.cs
  src/JsonPath/Expressions/PathValueExpressionNode.cs
  src/JsonPath/Expressions/UnaryComparativeExpressionNode.cs
  src/JsonPath/Expressions/UnaryLogicalExpressionNode.cs
  src/JsonPath/Expressions/ValueComparisonLogicalExpressionNode.cs
  src/JsonPath/Expressions/ValueExpressionNode.cs
  src/JsonPath/FilterSelector.cs
  src/JsonPath/JsonPath.csproj
  src/JsonPath/NodeList.cs
  src/JsonPath/PathResult.cs
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:path, build pipeline

#752 add evaluation option to disallow unknown keyword $ref navigation
  src/JsonSchema/EvaluationOptions.cs
  src/JsonSchema/JsonSchema.cs
  src/JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#755 added backdoor for new schema spec versions
  src/JsonSchema/SchemaRegistry.cs
Labels: pkg:schema

#756 update version and release notes
  src/JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-schema.md
Labels: pkg:schema

#757 JsonPointer.Net missing methods
  .github/workflows/dotnet-core.yml
  src/JsonPointer/JsonPointer.csproj
  src/JsonSchema/AllOfKeyword.cs
  src/JsonSchema/AnyOfKeyword.cs
  src/JsonSchema/DependentSchemasKeyword.cs
  src/JsonSchema/EvaluationContext.cs
  src/JsonSchema/JsonSchema.cs
  src/JsonSchema/PatternPropertiesKeyword.cs
  src/JsonSchema/PropertiesKeyword.cs
  src/JsonSchema/PropertyDependenciesKeyword.cs
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:schema, pkg:pointer, build pipeline
