Repository json-everything/json-everything, pull requests merged in 2025-02, with the labels that each got.

#869 Fix typo 'SchemaGeneratorConfiguration'
  src/JsonSchema.Generation/XmlComments/DocXmlReader.cs
  tools/ApiDocsGenerator/release-notes/rn-json-schema-generation.md
Labels: pkg:schema-generation

#864 RelativeJsonPointer: use span APIs when on .NET8+
  src/JsonPointer/JsonPointer.cs
  src/JsonPointer/JsonPointer.csproj
  src/JsonPointer/PointerSegment.cs
  src/JsonPointer/RelativeJsonPointer.cs
  src/JsonPointer/UtilityExtensions.cs
  src/JsonSchema/nuspec/JsonSchema.Net.nuspec
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
Labels: pkg:schema, pkg:pointer, pkg:schema-generation

#866 update json path test suite
  src/JsonPath.Tests/Suite/ComplianceTestCase.cs
  src/JsonPath.Tests/Suite/ComplianceTestSuiteTests.cs
  src/JsonPath/JsonPath.csproj
  src/JsonPath/NameSelector.cs
  src/JsonSchema.Tests/DependencyChecks.cs
  src/JsonSchema/JsonSchema.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-path.md
Labels: pkg:schema, pkg:path
