Repository json-everything/json-everything, pull requests merged in 2025-01, with the labels that each got.

#854 Fix language nuspec files
  src/JsonSchema/nuspec/JsonSchema.Net.de.nuspec
  src/JsonSchema/nuspec/JsonSchema.Net.pl-PL.nuspec
Labels: pkg:schema

#859 add test reporter
  .github/workflows/dotnet-core.yml
Labels: build pipeline

#850 Properly dispose of rented memory in JsonPointer.ToString()
  src/JsonPointer.Tests/JsonPointerParseTests.cs
  src/JsonPointer.Tests/JsonPointerTests.cs
  src/JsonPointer/JsonPointer.cs
  src/JsonPointer/JsonPointer.csproj
  src/JsonPointer/SpanExtensions.cs
  src/JsonSchema.Tests/LocalizationTests.cs
  src/JsonSchema.Tests/OutputTests.cs
  src/JsonSchema/nuspec/JsonSchema.Net.nuspec
  tools/ApiDocsGenerator/release-notes/rn-json-pointer.md
  tools/Benchmarks/Pointer/Runner.cs
  tools/Benchmarks/Program.cs
Labels: pkg:schema, pkg:pointer

#857 fix #856; allow enum serialization with duplicated member values
  src/Json.More.Tests/EnumStringConverterTests.cs
  src/Json.More/EnumStringConverter.cs
  src/Json.More/Json.More.csproj
  tools/ApiDocsGenerator/release-notes/rn-json-more.md
Labels: pkg:more

#802 add action to test signing a package
  .github/workflows/publish-schema-sign.yml
Labels: build pipeline
